body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
canvas {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
#fps {
  position: absolute;
  top:0;
  right:0;
  width:40px;
  background: red;
}
#items {
  position: absolute;
  top:40px;
  right:0;
  width:40px;
  background: red;
}